* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
    background: #f2f2f2;
    font-size: 16px;
}
img {
    width: 100%;
height: 100%;
}
.row::after,.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
