@font-face {
    font-family: logo;
    src: url(Pacifico-Regular.ttf);
}

/* header nav section start */
section#header-nav-section {
    width: 100%;
    padding: 10px 0;
    box-shadow: 1px 0 5px gray;
    margin-bottom: 4px;
}

.container {
    width: 1170px;
    margin: auto;
    padding: 16px;
}

.logo .img {
    width: 83px;
    display: inline-block;
    position: absolute;
    left: 11px;
    top: 24px;
}

.logo img {
    border-radius: 50%;
}

.logo {
    display: inline-block;
    padding-top: 10px;
    font-family: logo;
    letter-spacing: 4px
}

.fleft {
    float: left;
}

/* nav flex section */
.navegation ul {
    list-style: none;
    overflow: ;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.navegation a {
    text-decoration: none;
    color: black;
    padding: 12px 20px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    float: left;
    transition: 0.2s;
    font-size: 17px;
    letter-spacing: 1.1px;
}

/* hover nav a */
.navegation a:hover,
.dropbtn:hover .link {
    background: #f02828;
    color: white;
    text-decoration: underline;
}

/* sub-nav section */
.dropbtn .drop-content {
    min-width: 160px;
    position: absolute;
    background: green;
    display: none;
    z-index: 1;
    margin: 44px 0px;
}

.dropbtn ul a {
    float: none;
    display: block;
    text-align: left;
    color: #fff;
    margin: 10pz;
}

.dropbtn:hover .drop-content {
    display: block;
}

/* header nav section end */
.bg-height {
    height: 400px;
    width: 100%;
}

.header-bgimg-section .container {
    width: 100% !important;
    padding: 0;
    margin: 0;
}

.header-bgimg-section .bgimg {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("bimanBangla%20(7).jpg");
    background-size: cover;
    background-position: 0 -100px;
    position: relative;
}

.header-bgimg-section .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 20px;
    line-height: 1.8;
}

.btn-seccton {
    padding-top: 10px;
}

.btn-seccton a {
    display: inline-block;
    padding: 5px 34px;
    text-decoration: none;
    color: white;
    background: orange;
    border-radius: 2px;
    border: none;
    transition: 0.4s;
}

.btn-seccton a:hover {
    background: #777;
    color: white;
}

/* end total header section */
.cardMainContainer {
    margin-bottom: 20px;
}

.services .title {
    text-align: center;
    margin-bottom: 40px;
}

.cardMainContainer .card {
    width: 330px;
    height: auto;
    /* border: 1px solid red; */
    padding: 10px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 7px 17px 20px 11px #dcd9d9;
    float: left;
    margin-left: 35px;
    transition: 0.3s;
    animation: card 0.8s linear;
}

.card img {
    padding-bottom: 20px;
}

.card .content {
    padding: 10px;
    font-size: 20px;
}

.card:hover {
    transform: scale(1.06);
    box-shadow: 4px 8px 16px 0px #a99fa2;
}

@keyframes card {
    from {
        transform: scale(0) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

/* end services and card section  */
/* about us section  start */
.about-section .content {
    border: 1px solid green;
    padding: 10px;
    background: #e0e0e0;
    border-radius: 8px;
    border-left: 8px solid #31a7cd;
}

.about-section {
    margin-bottom: 30px;
}

.about-img {
    width: 133px;
    height: auto;
    padding-right: 10px;
}

.about-img img {
    border-radius: 50%;
    border: 1px solid #ccc;
    box-shadow: 1px 21px 26px -9px #796f6f;
}

.about-text {
    line-height: 1.7;
    padding: -5px;
}

.about-text > p::first-letter {
    color: red;
    font-size: xx-large;
    font-weight: bold;
}

.about-text .signe {
    font-family: logo;
    float: right;
    text-decoration: underline;
    padding: 10px;
    margin-right: 400px;
}

/* end about section */
/* footer start */
footer {
    margin-bottom: 30px;
    background: #2f2f2f;
    color: white;
    position: relative;
}

/* form */
.login-form .content {
    border: 1px solid red;
    max-width: 350px;
    background: #5d3333;
    padding: 10px;
}

.fright {
    float: right;
}

lavel {
    display: block;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 5px 0 20px 0;
    display: inline-block;
    font-size: 16px;
}

.login-form button {
    border: none;
    padding: 10px;
    background: #137d13;
    border-radius: 3px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    color: white;
    opacity: 0.8;
    cursor: pointer;
}

.login-form button:hover {
    opacity: 1;
}

.login-form .crac {
    position: relative;
    left: 136px;
    color: white;
    display: inline-block;
}

footer .search-bar {
    width: 331px;
    position: relative;
    left: 682px;
}

footer .search-bar .btn {
    padding: 13px 29px;
    border: none;
    font-size: 16px;
    color: #fbfbfb;
    border-radius: 4px;
    background: #3aa71e;
    position: absolute;
    top: 6px;
    right: -121px;
}

//////////////